---
import "@styles/prism.css";
import Layout from "./Layout.astro";
import Tags from "@components/Tags.astro";
import Comments from "@components/Comments.svelte";
import { format } from "date-fns";

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title} description={frontmatter.summary}>
    <main class="max-w-5xl mx-auto px-5 mt-10">
        <article class="mx-auto max-w-3xl">
            <header>
                <div class="flex">
                    <Tags
                        tags={frontmatter.tags}
                        class="bg-brand text-white dark:text-zinc-200 px-2 rounded-md"
                    />
                </div>
                <h1 class="mt-4 text-5xl font-bold">
                    {frontmatter.title}
                </h1>
                <p class="block text-zinc-500 dark:text-zinc-400 mt-2">
                    <span class="inline-block mr-2 bg-brand-light dark:bg-brand dark:bg-opacity-20 text-brand-dark dark:text-brand px-2 py-1 rounded-full font-semibold">{frontmatter.author}</span>
                    <time datetime={frontmatter.publishedAt}>
                        {
                            format(
                                new Date(frontmatter.publishedAt),
                                "MMMM do, yyyy"
                            )
                        }
                    </time>
                </p>
            </header>
            <div class="max-w-none mt-10 prose dark:prose-invert mx-auto">
                <slot />
            </div>
        </article>
        <aside>
            <h2 class="mt-10 text-3xl font-bold">Comments</h2>
            <Comments client:only="svelte" />
        </aside>
    </main>
</Layout>
